.btn {
    display: block;
    border: 1px solid!important;
    margin: 5px 0;
}

.form-group {
    margin-bottom: 20px;
}

.image {
    width: 150px!important;
    height: 150px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.filter {
    padding: 20px;
    border: 1px dotted;
    margin: 20px 0;
}

.filter .form-check {
    padding-left: 0;
    margin-bottom: 15px;
}

.filter .form-check input {
    position: relative;
    top: 1px;
}