{% extends 'base.html.twig' %}
{% form_theme form 'fields.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    {% if book.image %}
        <div class = "image" style = "background-image: url('{{ asset('uploads/images/' ~ book.image) }}')"></div>
    {% endif %}

    {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('book/_delete_form.html.twig') }}

    <a href="{{ path('app_book_index') }}">back to list</a>
{% endblock %}
